<footer class="footer-premium">

    <div class="container-premium grid md:grid-cols-3 gap-8">

        <!-- LOGO -->
        <div>

            <img src="/images/logo.png" class="h-10 mb-4">

            <p>Despachante de Aduana</p>
            <p>Agente de Transporte Aduanero</p>
            <p>Agente Marítimo</p>

        </div>


        <!-- CONTACTO -->
        <div>

            <h4 class="footer-title">
                Contacto
            </h4>

            <p>Paseo de los Arrieros 3068</p>
            <p>Río Gallegos, Argentina</p>

            <p>+54 9 2966 460200</p>
            <p>info@estudioaduanerold.com.ar</p>

        </div>


        <!-- LINKS -->
        <div>

            <h4 class="footer-title">
                Enlaces
            </h4>

            <div class="flex flex-col gap-2">

                <a href="/index.html" class="hover:text-sky-400">Inicio</a>

                <a href="/pages/servicios.html" class="hover:text-sky-400">Servicios</a>

                <a href="/pages/nosotros.html" class="hover:text-sky-400">Empresa</a>

                <a href="/pages/proyectos.html" class="hover:text-sky-400">Proyectos</a>

                <a href="/pages/contacto.html" class="hover:text-sky-400">Contacto</a>

            </div>

        </div>

    </div>


    <!-- COPYRIGHT -->
    <div class="footer-bottom">

        © 2026 Estudio Aduanero LD. Todos los derechos reservados.

    </div>

</footer>
